// COLORS

.red {
	color: red;
}

.black {
	color: black;
}

.white {
	color: white;
}

.blue {
	color: blue;
}

.yellow {
	color: yellow;
}

.green {
	color: green;
}

.purple {
	color: purple;
}

.pink {
	color: pink;
}