// NAVIGATION

//CJ:
.menu {
	padding: 2rem 2.5rem;
	position: fixed;
	top: 3rem;
	right: 3rem;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	border-radius: 3px;
	cursor: pointer;
}

.menu .bar:before {
	top: -2rem;
}

.menu .bar::after {
	top: 2rem;
}

.menu .bar,
.menu .bar::before,
.menu .bar::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 4rem;
	background-color: white;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	transition: 650ms;
}

.active .bar {
	background-color: transparent;
}

.active .bar::before {
	transform: rotate(45deg);
}

.active .bar::after {
	transform: rotate(-45deg);
}

.active .bar::before,
.active .bar::after {
	top: 0;
}

#logo {
	display: none;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: 300;
	border-bottom: 1px solid #fff;
	margin-bottom: -5px;
}

.nav {
	width: 100%;
	height: 6rem;
	line-height: 6rem;
	position: relative;
}

.nav .overlay ul {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.nav .overlay ul li {
	text-transform: uppercase;
}

.nav .overlay ul li a {
	display: block;
	font-size: 2rem;
	transition: all 650ms;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
}

.overlay.menu-open {
	transform: scale(1);
	opacity: 1;
}

.nav .overlay ul li a:hover,
.nav .overlay ul li a .active:hover {
	color: black;
}

@media (min-width: 769px) {

	//CJ:
	.menu {
		display: none;
	}
	.nav {
		display: flex;
		padding: 2rem 10rem 0;
		justify-content: space-between;
		.overlay {
			position: initial;
			background: none;
			opacity: initial;
			transform: initial;
			ul {
				flex-direction: row;
				list-style: none;
				margin-top: 2px;
				li {
					a {
						font-size: 1.5rem;
						letter-spacing: 1px;
						margin-right: -1px;
						padding: 0 2rem;
					}
				}
			}
		}
	}
	#logo {
		display: block;
	}
	.btn-info {
		font-size: 1.8rem;
	}
	.main-text {
		h1 {
			transform: translateY(4rem);
			opacity: 0;
			animation: 0.5s fadeUp 0.5s forwards;
		}
		h2 {
			transform: scale(2);
			opacity: 0;
			animation: fadeIn 0.5s forwards;
		}
	}
	.main-btn {
		opacity: 0;
		animation: 0.5s fade 1s forwards;
	}
//    @keyframes 
//        fadeIn 
//            0% {
//          transform: scale(2) 
//            opacity: 0 
//    100% 
//        transform: scale(1) 
//        opacity: 1 
//        transform: translateY(0) 
//        opacity: 1 
//        opacity: 1 
//    } 
//        @keyframes 
//            fadeUp 
//                0% {
//          transform: translateY(4rem) 
//                opacity: 0 
//            fade 
//                0% {
//          opacity: 0 
}