// base elements styles
body
	background: $pale
	color: $black
	font-family: $font-stack
	font-size: $font-size

b,
em,
i,
small,
strong,
sub,
sup,
ins,
del,
mark,
abbr,
address,
blockquote,
li
	display: inline
