// base elements styles

body
	background: $pale
	color: $black
	font-family: $font-stack
	font-size: $font-size


	
p
	margin-bottom: .75em

img
	border-radius: .75em
	box-shadow: 3px	3px	8px	$darkOcean