// FONTS

.fontOpenSans 
    font-family: 'Open Sans', sans-serif
.fontRanga
    font-family: 'Ranga', cursive
.fontRoboto
    font-family: 'Roboto', sans-serif
.fontPacifico
    font-family: 'Pacifico', cursive
.fontMontserrat:
    font-family: 'Montserrat', sans-serif
.fontMillGoudy:
    font-family: 'Sorts Mill Goudy', serif
.fontLobster:
    font-family: 'Lobster', serif
.fontOxygen:
    font-family: 'Oxygen', sans-serif
.fontSpecialElite
    font-family: 'Special Elite', cursive
.fontMeddon
    font-family: 'Meddon', cursive

    
.fontXSmall
    font-size: 1rem
.fontSmall
    font-size: 1.2rem
.fontMedium
    font-size: 1.8rem
.fontLarge
    font-size: 2rem
.fontXLarge
    font-size: 3rem
    
