@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import url("https://fonts.googleapis.com/css?family=Ranga|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css?family=Meddon|Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Pacifico|Sorts+Mill+Goudy&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html {
  font-size: 10px; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.4; }

.responsive {
  width: 100%; }

.responsiveImage {
  max-width: 100%;
  margin: 0 auto; }

.responsiveGrid {
  display: flex; }

.gridFull {
  flex: 1; }

.gridHalf {
  flex: 2; }

.gridThird {
  flex: 3; }

.gridFourth {
  flex: 4; }

.gridHorizontal {
  flex-direction: row; }

.gridVertical {
  flex-direction: column; }

.fontOpenSans {
  font-family: 'Open Sans', sans-serif; }

.fontRanga {
  font-family: 'Ranga', cursive; }

.fontRoboto {
  font-family: 'Roboto', sans-serif; }

.fontPacifico {
  font-family: 'Pacifico', cursive; }

.fontMontserrat {
  font-family: 'Montserrat', sans-serif; }

.fontMillGoudy {
  font-family: 'Sorts Mill Goudy', serif; }

.fontLobster {
  font-family: 'Lobster', serif; }

.fontOxygen {
  font-family: 'Oxygen', sans-serif; }

.fontSpecialElite {
  font-family: 'Special Elite', cursive; }

.fontMeddon {
  font-family: 'Meddon', cursive; }

.fontXSmall {
  font-size: 1rem; }

.fontSmall {
  font-size: 1.2rem; }

.fontMedium {
  font-size: 1.8rem; }

.fontLarge {
  font-size: 2rem; }

.fontXLarge {
  font-size: 3rem; }

.red {
  color: red; }

.black {
  color: black; }

.white {
  color: white; }

.blue {
  color: blue; }

.yellow {
  color: yellow; }

.green {
  color: green; }

.purple {
  color: purple; }

.pink {
  color: pink; }

body {
  background: #bfdbf0;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }

b,
em,
i,
small,
strong,
sub,
sup,
ins,
del,
mark,
abbr,
address,
blockquote,
li {
  display: inline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #031f3b;
  font-family: "Roboto", sans-serif;
  font-variant: small-caps;
  font-weight: 400;
  margin-top: .25em;
  margin-bottom: .25em;
  margin-left: 0;
  margin-right: 0; }

h1 {
  font-size: 111px; }

h2 {
  font-size: 69px; }

h3 {
  font-size: 42px; }

h4 {
  font-size: 26px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 10px; }

p {
  margin-bottom: .75em; }

img.image-responsive {
  max-width: 100%;
  height: auto; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

table.stripped {
  border-collapse: collapse; }
  table.stripped th, table.stripped td {
    text-align: left;
    padding: 8px; }
  table.stripped tr:nth-child(even) {
    background-color: #0142a8;
    color: #fff; }

table.bordered td, table.bordered th {
  border: 1px solid #333; }

table.responsive {
  width: 100%; }

input[type=text], select, textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; }

label {
  padding: 12px 12px 12px 0;
  display: inline-block; }

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right; }

input[type=submit]:hover {
  background-color: #45a049; }

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px; }

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px; }

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; }

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  margin: 4px 2px;
  cursor: pointer; }

.button:hover {
  background-color: #008CBA;
  color: white;
  transition-duration: 0.7s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.extra-small {
  font-size: 10px; }

.small {
  font-size: 16px; }

.normal {
  font-size: 20px; }

.large {
  font-size: 26px; }

.extra-large {
  font-size: 38px; }

.active {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: yellow;
  color: black; }

input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer; }

.clearfix {
  overflow: auto; }

.float-left {
  float: left; }

.float-right {
  float: right; }

@media print {
  .noprint {
    visibility: hidden; } }
header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent), url("images/hero.jpeg") bottom no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative; }

/* So you could use left|right|top|bottom to move element around the page*/
article {
  background: white;
  width: 960px;
  margin: -60px auto 0;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 2em 0 2em 0;
  position: relative;
  z-index: -2; }

footer {
  border-radius: 100%;
  height: 150px;
  width: 150px;
  position: relative;
  z-index: -4;
  text-align: center;
  margin: -60px auto 0;
  background: #333;
  color: #bfdbf0;
  font-size: 11px; }
  footer p {
    padding: 70px 15px 10px; }

.grid-container {
  display: grid;
  grid-gap: 1em; }
  @media only screen and (max-width: 480px) {
    .grid-container {
      grid-template-columns: repeat 1, 1fr; } }

img.rightside {
  float: right;
  width: 40%;
  margin: 0 0 .5em .5em; }

.menu {
  padding: 2rem 2.5rem;
  position: fixed;
  top: 3rem;
  right: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  border-radius: 3px;
  cursor: pointer; }

.menu .bar:before {
  top: -2rem; }

.menu .bar::after {
  top: 2rem; }

.menu .bar,
.menu .bar::before,
.menu .bar::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 4rem;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: 650ms; }

.active .bar {
  background-color: transparent; }

.active .bar::before {
  transform: rotate(45deg); }

.active .bar::after {
  transform: rotate(-45deg); }

.active .bar::before,
.active .bar::after {
  top: 0; }

#logo {
  display: none;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  border-bottom: 1px solid #fff;
  margin-bottom: -5px; }

.nav {
  width: 100%;
  height: 6rem;
  line-height: 6rem;
  position: relative; }

.nav .overlay ul {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.nav .overlay ul li {
  text-transform: uppercase; }

.nav .overlay ul li a {
  display: block;
  font-size: 2rem;
  transition: all 650ms; }

.overlay {
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: opacity 650ms;
  transform: scale(0);
  opacity: 0; }

.overlay.menu-open {
  transform: scale(1);
  opacity: 1; }

.nav .overlay ul li a:hover,
.nav .overlay ul li a .active:hover {
  color: black; }

@media (min-width: 769px) {
  .menu {
    display: none; }

  .nav {
    display: flex;
    padding: 2rem 10rem 0;
    justify-content: space-between; }
    .nav .overlay {
      position: initial;
      background: none;
      opacity: initial;
      transform: initial; }
      .nav .overlay ul {
        flex-direction: row;
        list-style: none;
        margin-top: 2px; }
        .nav .overlay ul li a {
          font-size: 1.5rem;
          letter-spacing: 1px;
          margin-right: -1px;
          padding: 0 2rem; }

  #logo {
    display: block; }

  .btn-info {
    font-size: 1.8rem; }

  .main-text h1 {
    transform: translateY(4rem);
    opacity: 0;
    animation: 0.5s fadeUp 0.5s forwards; }
  .main-text h2 {
    transform: scale(2);
    opacity: 0;
    animation: fadeIn 0.5s forwards; }

  .main-btn {
    opacity: 0;
    animation: 0.5s fade 1s forwards; } }

/*# sourceMappingURL=main2.css.map */
